body{
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
.Container{
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8rem;
}
/* small screen */
@media(min-width:768px){
    .Container{
        width:750px ;
     }
}
/* medium */
@media(min-width:992px){
   .Container{
       width:970px ;
    }
}
/* large */
@media(min-width:1200px){
    .Container{
       width:1170px ;
    }
}
/* End Global rules*/
.Container{
    margin-top: 4rem;
}
@media(max-width:767px){
    .Container{
        margin: 2rem 0;
     }
}
.Full{
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 5rem;
    box-shadow: 0px 2px 15px rgb(0 0 0 /20%);
    border-radius: 10px;
}
.Root .Login {
    flex: 1;
}
.Root .Login .Lab{
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 0.3rem;
    color: black;
    position: relative;
}
.Root .Login .Lab::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -5px;
    right: 0;
    border-bottom: #ff8600 3px dashed;
    transition: 1s;
}
.Root .Login .Regis{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: #ccc 1px solid;
    border-radius: 0.3rem;
    width: 35%;
    padding: 0.5rem;
    padding-right: 1.1rem;
}
.Root .Login .Holder{
    position: relative;
}
.Root .Login a{
    display: block;
    border: 3px solid black;
    width: fit-content;
    padding: 7px 7px;
    font-size: 23px;
    font-weight: bold;
    transition: var(--main-transition);
    border-radius: 6px;
    color: #ff8600;
    border-color: #ff8600;
    position: absolute;
    left: 50%;
    top: 12px;
    transform: translateX(-50%);
}
.Root .Login a:hover{
   color: white;
   background-color: #ff8600;
}
.Root .Full .Image{
    position: relative;
    transition: 0.3s;
}
.Root .Full .Image img{
    width: 222px;
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px white solid;
}
.Root .Image:hover{
    transform: translateY(-15px);
}
@media(max-width:767px){
    .Root .Full .Image img{
        display: none;
    }
    .Root .Login .Regis{
        width: 90%;
    }
}





